.Octobot {
  text-align: center;
  color: white;
  font-weight: bold;
}

.OctobotHeader {
  background-color: inherit;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(34px);
  color: white;
  position: relative;
}
.OctobotLabel {
  text-decoration: none;
  color: inherit;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 55px;
}

.OctobotLink {
  color: #61dafb;
}

.OctobotLogo {
  height: 350px;
}

.LogoText {
  height: 75px;
}